*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: #000;
  background-color:rgb(244, 253, 252) ;
  
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}


header::after{
   content: "";
  display: block;
  border-bottom: 2px solid rgba(224, 230, 234, 1);
  width: 95%;
  margin:  0 auto; 
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 40px;

}
.flex-item{
    flex: 1;
}
.navigation ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-content: flex-end;
    margin-left: auto;
   
  
}
.navigation li{
  padding: 10px 20px;
  font-size: 16px;

}
.navigation li:last-child{
  border: 2.5px solid;
  border-radius: 6px;

}
.navigation li:hover{
  border: 2.5px  solid;
  border-radius: 8px;
  transition: border 2.0ms ease-out;
}

.hambuger_icon{
    display: none;
}
.pusher-logo {
  width: 100%;
  height: auto;
}
#checkout-container{
 background-color: (255, 255, 255, 1);
padding: 50px;
font-family: 'Lato', sans-serif;

}
.checkout-sections{
  display: flex;   
  justify-content:center;
  max-width: 892px;
  margin: 0 auto; 
}
.section-one,.section-two{
  padding: 40px;
}
.section-one{
    background-color: #fff;
    border-radius: 6px 0px 0px 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.section-one h3{
    color: #1D2C3C;
    font-size: 30px;
    margin-block-end: 24px;
}

.basic-information-container::before{
  content: "";
  display: block;
  border: 1px solid rgba(245, 247, 250, 1);
  width: 100%;
  width: calc(100% + 80px);
  margin: 0 -40px;
 
}
.payment-information-container::before,
.payment-information-container::after{
  content: "";
  display: block;
  border: 1px solid rgba(245, 247, 250, 1);
  width: 100%;
  width: calc(100% + 80px);
  margin: 0 -40px;
 
}
.payment-information,
.basic-information{
  margin-block-start: 36px;
}
.basic-information{
  margin-block-end: 41px;
}
.basic-information-item{
  margin-block-end: 10px;
    font-weight: 600;
}
.basic-information-item p{
  font-size: 18px;

}
.item-number{
  border: 1px solid rgba(84, 139, 197, 1);
  color: rgba(84, 139, 197, 1);
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: 15px;
}
.basic-information-item{
  display: flex;
  align-items: center;
}
.form-info-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 25px;
  gap: 20px;
}
.form-info-block input,
.form-info-grid input
{
  height: 36px;
  background-color:rgba(237, 239, 242, 1);
  border: 1px solid #000;
  width: 100%;
  padding: 16px 13px;
  border: 0;
  border-radius: 5px;
}
.form-info-grid input{
 margin-block-start: 10px;
}

.form-info-creditcard label,
.form-info-block label{
    display: block;
    margin-block-end: 10px;
}
.form-info label{
  font-size: 14px;
  font-weight: 500;
  color: #1D2C3C;
}
input#email{
 width:80%;
}
.buy-button button{
  width: 100%;
  height: 52px;
  margin-block-start: 39px;
  margin-block-end: 24px;
  background-color: rgba(3, 142, 125, 1);
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.help-container{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
 .help{
 display: grid;
place-items: center;
 }

.contact::before{
  content: url(./Assets/img/Mask.png);
  vertical-align: middle;
  margin-inline-end: 10px;
}
.help span{
  color: #646E7A;
  font-size: 14px;
  margin-inline-start: 10px;


}
.powered-by{
  margin-block-start: 34px;
}

 .section-two{
  color: #fff;
  background-color: rgba(17, 121, 191, 1);
  width: 312px;
  border-radius: 0px 6px 6px 0px;
} 
.section-two p{
  margin-block-end: 5px;
  font-size: 16px;
  font-weight: 500;
}

.section-two .renewal{
  margin-block-end: 36px;
font-size: 16px;
}
.need-sites p,
.need-sites a
{
   font-size: 16px;
}
.need-sites p{
  margin-block-end: 10px;
 
}

.need-sites::after{
   content: "";
  display: block;
  border-bottom: 2px solid rgba(224, 230, 234, 1);
  width: 100%;
  margin:  41px auto; 
}
.need-sites a{
  color: #fff;
}
.horrible-deal{
  margin-block-end: 27px;
  font-size: 16px;
  font-style: italic;
}

.client{
display: flex;
align-items: center;

}
.client img{
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin-inline-end: 14px;
} 
.price{
  font-size: 60px;
  line-height: 1;
  display: inline-block;
  font-weight: 300;
}

.price sup,
.price sub {
  font-size: 24px;
  vertical-align: baseline;
  display: inline-block;
  
}

.price sub {
  vertical-align: sub;
}


.price sub {
  vertical-align: text-top;
  font-weight: 500;
  font-size: 24px;
  margin-inline-end: 10px;
}
.price sup{
   font-weight: 500;
  font-size: 18px;
   margin-inline-start: 10px;
}

.packages{
  margin-block-end: 38px;
  display: flex;
  flex-direction: column;
 
}
.packages p::before{
  content: url(./Assets/img/Combined\ Shape.png);
  margin-inline-end: 10px;
  vertical-align: middle;
  

}
.packages p{
   font-size: 16px;
  margin-block-end: 12px;
  display: inline-block;
  vertical-align: middle;
}
.mobile-help{
  display: none;
}


@media only screen and (max-width:720px){
    nav{
  
  padding:20px;

}
    .hambuger_icon{
    display: block;
    font-size: 24px;
}
.hambuger_icon {
   width: 100px;
   display: flex;
   flex-direction: row-reverse;
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -o-transform: translateY(-50%);
   transform: translateY(0);
 }


.navigation ul{
    display: none;
}
#checkout-container{
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #fff;
}
.checkout-sections{
    border: 1px solid white;
      display: flex;
   flex-direction: column;
}
.section-one{
    background-color: #fff;
    border-radius: 0;
    box-shadow: none;
    padding: 10px;

}
.form-info-grid{
  display: grid;
  grid-template-columns:  1fr;
  margin-bottom: 25px;
}
.form-info input{
  width: 100%;
}


.section-two{
  width: 100%;
}
.section-one,.section-two{

    border-radius:0;
}
.mobile-help{
  display: block;
}
.desktop-help{
  display: none;
}
.help-container{
  margin-block-start: 24px;
  margin-block-end: 24px;
}
.help{
display: grid;
place-items: center;
margin-inline-start: 20px;
}
input#email{
 width:100%;
}
header::after {
  width: 100%;

}
.payment-information-container::after{
margin-block-start: 41px;
}
}